$font-primary: "Jost", sans-serif;
$font-secondary: "DM Sans", sans-serif;
$cayenne: rgba(165, 42, 42, 1);
$box-shadow-color: rgba(255, 255, 255, 0.2);
$background-color: #1a1a1a;
$text-color: #2b2c48;
$link-hover-color: rgba(165, 42, 42, 0.8);
$box-shadow: 0 0.25rem 0.38rem rgba(0, 0, 0, 0.15);
