@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500|Jost:400,500,600&display=swap");

:root {
  font-size: 16px; /* 1rem = 16px */
}

* {
  box-sizing: border-box;
}

body {
  color: #2b2c48;
  font-family: "Jost", sans-serif;
  background-color: #1a1a1a;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  padding: 1.25rem;
  overflow: hidden;
}

.card {
  max-width: 24rem;
  margin: auto;
  overflow-y: auto;
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-color: white;
  display: flex;
  transition: 0.3s;
  flex-direction: column;
  border-radius: 0.65rem;
  box-shadow: 0 0 0 0.5rem rgba(255, 255, 255, 0.2);
}

.card[data-state="#about"],
.card[data-state="#contact"] {
  height: 27rem;
}

.card[data-state="#experience"] {
  height: 34.5rem;
}

.card.is-active .card-header {
  height: 5rem;
}

.card.is-active .card-cover {
  height: 6.25rem;
  top: -3.10rem;
}

.card.is-active .card-avatar {
  transform: none;
  left: 1.25rem;
  width: 3.10rem;
  height: 3.10rem;
  bottom: 0.60rem;
}

.card.is-active .card-fullname {
  bottom: 1.15rem;
  font-size: 1.2rem;
}

.card.is-active .card-jobtitle {
  bottom: 1rem;
  letter-spacing: 0.06rem;
  font-size: 0.6rem;
}

.card-header {
  position: relative;
  display: flex;
  height: 12.5rem;
  flex-shrink: 0;
  width: 100%;
  transition: 0.3s;
}

.card-header * {
  transition: 0.3s;
}

.card-cover {
  width: 100%;
  height: 100%;
  position: absolute;
  height: 10rem;
  top: -20%;
  left: 0;
  will-change: top;
  background-size: cover;
  background-position: center;
  filter: blur(1.9rem);
  transform: scale(1.2);
  transition: 0.5s;
}

.card-avatar {
  width: 6.25rem;
  height: 6.25rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  object-position: center;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-4rem);
}

.card-fullname {
  position: absolute;
  bottom: 0;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  transform: translateY(-0.63rem) translateX(-50%);
  left: 50%;
}

.card-jobtitle {
  position: absolute;
  bottom: 0;
  font-size: 0.7rem;
  white-space: nowrap;
  font-weight: 500;
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  margin-top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-0.44rem);
}

.card-main {
  position: relative;
  flex: 1;
  display: flex;
  padding-top: 0.6rem;
  flex-direction: column;
}

.card-subtitle {
  font-weight: 700;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.card-content {
  padding: 1.25rem;
}

.card-desc {
  line-height: 1.6;
  color: #636b6f;
  font-size: 0.9rem;
  margin: 0;
  font-weight: 400;
  font-family: "DM Sans", sans-serif;
}

.card-social {
  display: flex;
  align-items: center;
  padding: 0 1.25rem;
  margin-bottom: 1.9rem;
}

.card-social svg {
  fill: rgba(165, 42, 42, 0.4);
  width: 1rem;
  display: block;
  transition: 0.3s;
}

.card-social a {
  color: rgba(165, 42, 42, 1);
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  background-color: rgba(93, 133, 193, 0.05);
  margin-right: 0.6rem;
}

.card-social a:hover svg {
  fill: rgba(165, 42, 42, 1);
}

.card-social a:last-child {
  margin-right: 0;
}

.card-buttons {
  display: flex;
  background-color: #fff;
  margin-top: auto;
  position: sticky;
  bottom: 0;
  left: 0;
}

.card-buttons button {
  flex: 1 1 auto;
  user-select: none;
  background: 0;
  font-size: 0.8rem;
  border: 0;
  padding: 0.95rem 0.3rem;
  cursor: pointer;
  color: #5c5c6d;
  transition: 0.3s;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  outline: 0;
  border-bottom: 0.2rem solid transparent;
}

.card-buttons button.is-active,
.card-buttons button:hover {
  color: #ff5757;
  border-bottom: 0.2rem solid #ff5757;
  background: linear-gradient(
    to bottom,
    rgba(255, 140, 140, 0) 0%,
    rgba(255, 188, 188, 0.2) 44%,
    rgba(255, 207, 207, 0.4) 100%
  );
}

.card-section {
  display: none;
}

.card-section.is-active {
  display: block;
  animation: fadeIn 0.8s both;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(1.88rem);
  }
  100% {
    opacity: 1;
  }
}

.card-timeline {
  margin-top: 1.85rem;
  position: relative;
}

.card-timeline:after {
  background: linear-gradient(to top, rgba(165, 42, 42, 0.2) 0%, rgba(165, 42, 42, 1) 100%);
  content: "";
  left: 2.2rem;
  width: 0.15rem;
  top: 0;
  height: 100%;
  position: absolute;
}

.card-item {
  position: relative;
  padding-left: 3.75rem;
  padding-right: 1.25rem;
  padding-bottom: 1.25rem;
  z-index: 1;
}

.card-item:last-child {
  padding-bottom: 0.3rem;
}

.card-item:after {
  content: attr(data-year);
  width: 0.5rem;
  position: absolute;
  top: 0;
  left: 1.9rem;
  height: 0.5rem;
  line-height: 0.6;
  border: 0.13rem solid #fff;
  font-size: 0.7rem;
  text-indent: -2.2rem;
  border-radius: 50%;
  color: rgba(165, 42, 42, 1);
  background: linear-gradient(to bottom, rgba(165, 42, 42, 1) 0%, rgba(165, 42, 42, 1) 100%);
}

.card-item-title {
  font-weight: 500;
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
}

.card-item-desc {
  font-size: 0.8rem;
  color: #6f6f7b;
  line-height: 1.5;
  font-family: "DM Sans", sans-serif;
}

.card-contact-wrapper {
  margin-top: 1.25rem;
}

.card-contact {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  color: rgba(165, 42, 42, 0.8);
  font-family: "DM Sans", sans-serif;
  line-height: 1.6;
  cursor: pointer;
}

.card-contact + .card-contact {
  margin-top: 1rem;
}

.card-contact svg {
  flex-shrink: 0;
  width: 1.88rem;
  min-height: 2.15rem;
  margin-right: 0.75rem;
  transition: 0.3s;
  padding-right: 0.75rem;
  border-right: 0.06rem solid rgba(165, 42, 42, 0.5);
}

.contact-me {
  border: 0;
  background-color: transparent;
  color: rgba(165, 42, 42, 1);
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Jost", sans-serif;
  padding: 0.75rem 1rem;
  width: 100%;
  border-radius: 0.3rem;
  margin-top: 1.55rem;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  outline: none;
  background: linear-gradient(
    to right,
    rgba(165, 42, 42, 0.4) 0%,
    rgba(165, 42, 42, 0.8) 96%
  );
  box-shadow: 0 0.25rem 0.4rem rgba(0, 0, 0, 0.15);
  transition: 0.5s ease-out;
}

.contact-me:hover {
  color: white;
  transform: translateY(-0.2rem);
}

.contact-me:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 100%;
  width: 120%;
  height: 220%;
  background-color: rgba(165, 42, 42, 0.8);
  border-radius: 50%;
  z-index: -1;
  transition: all 0.6s ease;
}

.contact-me:hover:before {
  top: -50%;
  left: -10%;
}